/AggiornaListinoVibolt.spec
/AggiornaListinoVitman.spec
/build
/Carica DDTC Archiva BERARDI.spec
/Carica DDTC Archiva VIBOLT.spec
/Carica DDTC Archiva VITMAN.spec
/Carica DDTF Archiva BERARDI (noFTP).spec
/Carica DDTF Archiva BERARDI.spec
/Carica DDTF Archiva BERARDI_new.spec
/Carica DDTF Archiva VIBOLT (noFTP).spec
/Carica DDTF Archiva VIBOLT.spec
/Carica DDTF Archiva VITMAN (noFTP).spec
/Carica DDTF Archiva VITMAN.spec
/CaricaFatture ARCHIVA
/CaricaFatture ARCHIVA 2.spec
/CaricaFatture ARCHIVA BERARDI.spec
/CaricaFatture ARCHIVA VIBOLT.spec
/CaricaFatture ARCHIVA VITMAN.spec
/CaricaFatture ARCHIVA.spec
/CaricaFatture DDTF Archiva BERARDI.spec
/CaricaListino VIBOLT.spec
/CaricaListinoBase VIBOLT.spec
/CaricaListinoIntercompany VIBOLT.spec
/DDT Cancellati.spec
/dist
/fabio.spec
/FABIO2.spec
/FABIO3.spec
/prova calendar Python
/prova calendar Python.spec
/prova ftp python
/prova.py
/prova222222.py
/provaftpp
/provaftpp.py
/provaftpp.spec
/Refresh_All_PowerBI_Datasets.spec
/SCORTE DA RIMEDIARE.xlsx
/sftp prova.spec
/__pycache__